.main-title {
    font-family: 'Damion', cursive;
    text-align: center;
    color: rgb(78, 118, 80);
    margin: 10vh 0 0 0;
    font-size: 500%;
}

.recipe-list-div {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    list-style-type: none;
    padding: 0px 1rem 0px 1rem;
    text-align: center;
}