.recipe-list-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    background: rgb(237, 237, 237);
    list-style-type: none;
    box-shadow: 5px 5px 20px 1px rgba(0,0,0,0.4);
}

.recipe-list-card a {
    text-decoration: none;
    color: darkslategray;
}

.recipe-list-card-img-main {
    /* border-radius: 5px; */
    width: 100%;
}

.recipe-name {
    padding: 0 1rem;
}

.recipe-source {
    padding: 0 1rem;
}

.recipe-calories {
    padding: 0 1rem;
    font-weight: bolder;
}